<!-- Блок ввода имени работодателя -->
<div class='block form-group'>
    <label for='employer-name' class='text_roboto-bold'>{{employerNameLabel}}</label>
    <input type='text' id='employer-name' name='employer_name' required placeholder='{{employerNamePlaceholder}}' class='input-elem text_roboto-light' />
</div>

<!-- Блок ввода фамилии работодателя -->
<div class='block form-group'>
    <label for='employer-lastname' class='text_roboto-bold'>{{employerLastnameLabel}}</label>
    <input type='text' id='employer-lastname' name='employer_lastname' required placeholder='{{employerLastnamePlaceholder}}' class='input-elem text_roboto-light' />
</div>

<!-- Блок ввода должности -->
<div class='block form-group'>
    <label for='employer-position' class='text_roboto-bold'>{{employerPositionLabel}}</label>
    <input type='text' id='employer-position' name='employer_position' required placeholder='{{employerPositionPlaceholder}}' class='input-elem text_roboto-light' />
</div>

<!-- Блок ввода названия компании -->
<div class='block form-group'>
    <label for='company-name' class='text_roboto-bold'>{{companyNameLabel}}</label>
    <input type='text' id='company-name' name='company_name' required placeholder='{{companyNamePlaceholder}}' class='input-elem text_roboto-light' />
</div>

<!-- Блок ввода описания компании -->
<div class='block form-group'>
    <label for='company-description' class='text_roboto-bold'>{{companyDescriptionLabel}}</label>
    <textarea id='company-description' name='company_description' required placeholder='{{companyDescriptionPlaceholder}}' class='input-elem text_roboto-light' style='resize: vertical; height: 3em'></textarea>
</div>

<!-- Блок ввода сайта компании -->
<div class='block form-group'>
    <label for='website' class='text_roboto-bold'>{{websiteLabel}}</label>
    <input type='text' id='website' name='website' required placeholder='{{websitePlaceholder}}' class='input-elem text_roboto-light' />
</div>

<!-- Блок ввода email работодателя -->
<div class='block form-group'>
    <label for='employer-email' class='text_roboto-bold'>{{employerEmailLabel}}</label>
    <input type='email' id='employer-email' name='employer_email' required placeholder='{{employerEmailPlaceholder}}' class='input-elem text_roboto-light' />
</div>

<!-- Блок ввода пароля работодателя -->
<div class='block form-group'>
    <label for='employer-password' class='text_roboto-bold'>{{employerPasswordLabel}}</label>
    <input type='password' id='employer-password' name='employer_password' required placeholder='{{employerPasswordPlaceholder}}' class='input-elem text_roboto-light' />
</div>
