<article class='vacancy-container__vacancy-card vacancy-card vacancy-card_theme-dark'>
  <div class='vacancy-card__header-container'>
    <img class='vacancy-card__company-picture' src='{{avatar}}' />
    <div class='vacancy-card__header vacancy-summary'>
      <a href="{{url "vacancy" ""}}?id={{id}}"><h1 class='vacancy-summary__header'>{{position}}</h1></a>
      <div class='vacancy-summary__company-name'>{{companyName}}, {{location}}</div>
      <div class='vacancy-summary__salary'>Зарплата: {{salary}}</div>
    </div>
    <img class='vacancy-card__bookmark-icon' src='{{static "img/card-bookmark.svg"}}' />
  </div>
  <div class='vacancy-card__description'>
    {{description}}
  </div>
  <div class='vacancy-card__footer'>
    <button type='button' class='vacancy-card__apply-button button button_main-primary'>
      Откликнуться!
    </button>
    <span class='vacancy-card__created-at'>{{createdAt}}</span>
  </div>
</article>