<div class="{{elementClass}} validated-input">
    <label for="{{elementClass}}" class="text_roboto-regular validated-input__label">{{inputCaption}}</label>
    <input type="{{inputType}}" class="validated-input__input" id="{{elementClass}}" name="{{elementClass}}"/>
</div>