<div class='{{elementClass}} validated-input'>
  <label
    for='{{elementClass}}'
    class='text_roboto-regular validated-input__label'
  >{{inputCaption}}</label>
  <input
    type='{{inputType}}'
    class='validated-input__input text_roboto-regular'
    id='{{elementClass}}'
    name='{{inputName}}'
  />
  <span class='validated-input__error text_roboto-regular' hidden>Ошибка! Длина пароля слишком мала!</span>
</div>