<div class='{{formName}}__{{elementName}} {{formName}}__validated-textarea validated-textarea'>
  <label
    for='{{formName}}__{{elementName}}'
    class='text_roboto-regular validated-textarea__label'
  >{{inputCaption}}</label>
  <textarea
    class='validated-textarea__textarea {{formName}}__{{elementName}}-textarea {{inputModificators}} text_roboto-regular'
    id='{{formName}}__{{elementName}}'
    name='{{inputName}}'
  ></textarea>
  <span class='validated-textarea__error text_roboto-regular' hidden>Ошибка! Длина пароля слишком
    мала!</span>
</div>