<div class="{{elementClass}} select-input">
  <label for='{{name}}' class='select-input__label'>{{caption}}</label>
  <select name="{{name}}" class='{{elementClass}} select-input__select select_main'>
  </select>
</div>
