<div class='header-container'>
  <nav class='header-container__header header text_roboto-light'>
    <a class='header__logo logo' href='{{url "vacancies" ""}}'>&mu;Art</a>
    {{#if userAuthenticated}}
      <div class='header__authorized-container'>
        <img class='header__notification-button' src='{{static "img/notification-icon-36.svg"}}' />
        <img class='header__user-avatar' src='{{static "img/user-icon-80.svg"}}' />
        <img class='header__menu-open-button' src='{{static "img/menu-icon-48.svg"}}' />
        <div class='header__dropdown popup-element'>
          <div class='header__user-info'>
            <div class='header__user-name'>{{userFullName}}</div>
            <div class='header__user-type'>{{userType}}</div>
          </div>
          <div class='header__dropdown-separator'></div>
          <div class='header__menu menu'>
            <a class='header__profile-button menu__element' href='{{url "myProfile" ""}}'>
              <img class='menu__element-icon' src='{{static "/img/profile-menu-icon.svg"}}' />
              Профиль пользователя</a>
            {{#if isApplicant}}
              <a class='header__cv-button menu__element' href="{{url "myProfile" ""}}?from=cvList">
                <img class='menu__element-icon' src='{{static "/img/cv-menu-icon.svg"}}' />
                Мои резюме
              </a>
              {{!-- <a class='header__portfolio-button menu__element' href="{{url "myProfile" ""}}?from=portfolioList">
                <img class='menu__element-icon' src='{{static "/img/portfolio-menu-icon.svg"}}' />
                Портфолио
              </a> --}}
            {{else}}
              <a class='header__vacancy-button menu__element' href="{{url "myProfile" ""}}?from=vacancyList">
                <img class='menu__element-icon' src='{{static "/img/vacancy-menu-icon.svg"}}' />
                Мои вакансии
              </a>
            {{/if}}
            <a class='header__logout-button menu__element'>
              <img class='menu__element-icon' src='{{static "/img/logout-menu-icon.svg"}}' />
              Выйти
            </a>
          </div>
        </div>
      </div>
    {{else}}
      <div class='header__not-authorized-container'>
        <a
          class='header__login-button button button_main-primary'
          href='{{url "login" ""}}'
        >Вход</a>
        <a
          class='header__registration-button button button_main-secondary'
          href='{{url "register" ""}}'
        >Регистрация</a>
      </div>
    {{/if}}
  </nav>
</div>